
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
   
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* nav bar */
.shadow{    
    box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.73);
}

.nav-bar{
    margin: 2% -50px;
    width: 100%;
    height: 95px;
    display:flex ;
    justify-content: space-around;
}

.nav{
    display:flex;
    
}

.nav li{
    padding: 10px;
    list-style: none;
}

/* galerry photo */

.name{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-align: left;

}

.name:hover{
    border-top:2px solid black;
    border-bottom:2px solid black;
}

.container{
    padding: 0px 8.5%;
    margin: 0 0 300px;
}

.arrows{
    display: inline-block;
    margin:50px 0px 50px;
    
}

.num{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    word-spacing: 15px;
    color: #BDBDBD;
    margin: 0px 100px;
}

.arrow{
    display: inline-block;
    align-items: center;
    border: 2px solid rgb(212, 203, 203);
    width: 50px;
    height: 50px;
    margin: 0px 15px;
    box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.73);

}

.animation:hover{
    background-color:#F2F2F2;
}

.animation:active {
    box-shadow: 0px 0px 4px -4px rgba(0,0,0,0.73);
    transform: translateY(4px);
    transition: 0.5s;
}

.animation::after {
    transition: 0.5s;
}

.arrow img{
    display: block;
    margin: 20px auto;
}

.dimension{

    font-size: 65px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #BDBDBD;
 
}

.dimension span{   
    font-size: 65px;
    font-weight: 800;
    
    line-height: 50px;
    letter-spacing: 5px;
    color:black
}

/* galerry grid */

.images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;

}

.project{
    margin:6px 21px;
    position: relative;
}

.effect{
    overflow: hidden;
    cursor: pointer;
}

.effect::before{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content:'';
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition:all .4s ease;
    z-index: 2;
    

}

.effect:hover::before{
    opacity: 1;

}

.title{
    position: absolute;
    top: 5px;
    left: 5px;
    color:rgb(250, 250, 250);
    font-size: 35px;
    font-weight: 700;
    z-index: 3;
}

.title > span{display: none;
    transition: transform 1s ease ;
}

.effect:hover .title > span {
    display: block;
    
}

.transform{
    display: block;
    z-index: 0;
    transition: 0.8s;
}

.effect:hover .transform{
    transform: scale(1.5);
}


/* footer style */

footer{
    display: flex;
    background-color:#2C2C2C;
    height: 470px;
}

.footer_logo{
    margin:58px 115px
}

.information, .contact, .media{
    margin: 58px 80px 0px 0px;
  
}

.footer li{
    list-style: none;
    margin:15px 0px;
}

.footer_name_title{
    color:#fff;
    text-decoration: none;
    font-size: 18px;

}

.footer_name{
    color:#BDBDBD;
    text-decoration: none;
    margin:10px;
    line-height: 40px;
}

.icon{
    margin: 23px 40px 0 0;
}